@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

input {
  padding: 8px 15px;
  width: 70%;
  margin: 8px;
  background-color: #eee;
  border: none;
}

input::placeholder {
  color: #111;
  font-family: 'Montserrat', sans-serif;
}