@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

input {
  padding: 10px 15px;
  width: 100%;
  margin: 2px;
  background-color: #eee;
  border: none;
}

input::placeholder {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px
}

.error {
  font-size: 10px;
  text-align: left;
  color: red;
}