button {
	border-radius: 20px;
	border: none;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: 30ms;
}

button:hover {
	opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.8);
}

button.ghost {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 10px;
}

.small {
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px;
	width: 80px;
	height: 30px;
	text-transform: uppercase;
	transition: 30ms;
}

.options {
	background-color: transparent;
	color: black;
	border: none;
	font-size: 0px;
	font-weight: bold;
	height: 40px;
	width: 40px;
	padding: 0px 0px;
	text-transform: none;
	transition: 30ms;
}

.squared {
	border-radius: 7px;
}

.controls {
	height: 50px;
	width: 50px;
	padding: 0px;
	background-color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}

.add {
	background-color: #28A745;
}

.edit {
	background-color: rgb(209, 209, 209);
	color: black;
}

.remove {
	background-color: #c82333;
}