.timer-container {
  height: 80%;
  width: 80%;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 50px;
}

.time {
  font-size: 110px;
}

.controls-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.edit-timer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.form-label {
  color: gray;
}

